@charset "UTF-8";
@keyframes splash-start {
  
}
#greeting {
  order: 2;
  color: #ffffff;
  align-self: center;
  font-size: 1.25vw;
  margin: 0 7.5px 0 7.5px;
  text-align: center;
}
#navbar {
  position: sticky;
	background-color: #00001100;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 35px;
	padding: 5px 5px 5px 5px;
	top: 5px;
	transition: background-color 0.5s;
	
}
#navsect-nav {
  order: 3;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  border-radius: 5px;
}
#navsect-disp {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
#logo-navbar {
  height: 100%;
  order: 1;
  object-fit: cover;
  object-position: 0 0;
}
#navbar.scrolled {
  background-color: #00001199;
}
.navbutton {
  background-color: #2288cc;
  height: 100%;
  border: none;
  border-radius: 2px;
  margin: 0 5px 0 5px;
  padding: 7.5px;
  transition: border-radius 0.5s, background-color 0.5s;
}
.navbutton:hover {
  border-radius: 10px;
  background-color: #3399dd;
}
.navbutton:focus {
  outline: none;
  background-color: #22cc88;
  border-radius: 10px;
}
.navbarsect {
  height: 100%;
}
.layout {
  margin: 0 0 0 0;
}
body {
  margin: 0 0 0 0;
  background-color: black;
}
input, button, select, textarea, optgroup, option, html, body, form, fieldset, table, tr, td, img {
  font-family: 'Muli', sans-serif;
}
.scrolled {
  filter: blur 5px;
}
.splash {
  position: absolute;
  border: #ffffff 0px solid;
  left: 25%;
  top: 30%;
  height: 40%;
  width: 50%;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  color: #ffffff;
  font-weight: bold;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#ev-banner-desc {
  margin-top: 0;
  margin-bottom: 6px;
}
#ev-banner-mini {
  color: #555;
  font-size: 9pt;
  margin-top: 0;
}
.background {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  top: 0;
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.buttonline {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
